/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILITY */
p {
  line-height: 1.7rem;
}

/* immagini */
img {
  max-width: 100%;
}

/* container e wrapper */
.container {
  width: 70%;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
  display: flex;
}

/* sezioni */

.section-cnt-subtitle {
  font-size: 2rem;
}

/* nav bars */ 
.nav {
  list-style: none;
}

.nav-link {
  color: white;
  text-decoration: none;
}

/* bottoni */
.btn {
  display: inline-block;
  border-radius: 25px;
  padding: 15px;
  background-color: white;
  color: black;
  font-size: 0.9rem;
}

.btn.btn-black {
  background-color: #212528;
  color: white;
}

.btn.btn-blue {
  background-color: #8ea1e1;
  color: white;
}

.btn:hover,
.logo-img:hover {
  cursor: pointer;
}

/* logo */
.logo-img {
  width: 112px;
}

/* HEADER */
header {
  height: 80px;
  background-color: #3161e0;
  color: white;
}

header .wrapper {
  align-items: center;
}

header .logo,
header .login {
  width: 20%;
}

header .nav {
  width: 60%;
  text-align: center;
  padding: 8px;
}

header .nav-link {
  margin: 0 8px;
  color: white;
  text-decoration: none;
}

header .login {
  text-align: end;
}

/* MAIN */
main > section {
  padding: 60px 0;
}

main .section-cnt {
  height: 100%;
}

/* jumbotron */
#jumbotron {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  color: white;
  text-align: center;
}

#jumbotron .section-cnt {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  font-size: 1.3rem;
}

#jumbotron .jbt-title {
  margin-bottom: 40px;
  font-size: 3.5rem;
}

#jumbotron .jbt-btn {
  margin: 30px 15px;
  padding: 15px 30px;
  font-size: 1.1rem;
}

#jumbotron::after {
  content: " ";
}

/* sezioni successive */
main .section-img {
  width: 60%;
  margin-bottom: 60px;
}

main .section-txt {
  width: 40%;
  padding-top: 30px;
  margin-bottom: 60px;
}

main .section-cnt-title {
  font-size: 3rem;
  margin-bottom: 25px;
}

/* sezioni pari */
main > section:nth-of-type(even) {
  background: #ffffff;
  padding-bottom: 0;
}

main > section:nth-of-type(even) .section-txt {
  padding-left: 100px;
}

main > section:nth-of-type(even)::after {
  content: url(../img/wave.svg);
  display: block;
  line-height: 0;
  filter: invert(90%) sepia(1%) saturate(6809%) hue-rotate(189deg) brightness(148%) contrast(65%);
}

/* sezioni dispari */
main > section:nth-of-type(odd) {
  background-color: #d3d3d3;
  padding-bottom: 0;
}

main > section:nth-of-type(odd) > .wrapper {
  flex-direction: row-reverse;
}

main > section:nth-of-type(odd) .section-txt {
  padding-right: 100px;
}

main > section:nth-of-type(odd)::after {
  content: url(../img/wave.svg);
  display: block;
  line-height: 0;
  filter: invert(99%) sepia(92%) saturate(0%) hue-rotate(256deg) brightness(107%) contrast(100%);
} 

/* sezione 5 - ultima sezione */
#section-last .section-cnt {
  text-align: center;
}

#section-last .section-cnt-subtitle {
  background-image: url(../img/stars.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 20px;
}

#section-last .btn {
  margin: 40px 0;
  padding: 15px 30px;
  font-size: 1.1rem;
}

#section-last::after {
  content: " ";
}

/* FOOTER */
footer {
  background: #23272a;
}

/* sezione principale del footer */
#footer-top > .container {
  border-bottom: 2px solid #7fb2e3;
}

footer .wrapper > .footer-info {
  width: 30%;
}

footer .section-cnt-subtitle {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #7fb2e3;
}

/* language selector */
footer #select-img {
  max-height: 20px;
  margin-right: 5px;
}

footer #select-lang {
  margin-bottom: 15px;
  border: none;
  background: rgba(162, 128, 240, 0);
  color: white;
  font-size: 0.9rem;
}

/* social links */
footer .social-link {
  display: flex;
  gap: 5px;
}

/* footer bars */
footer .wrapper > .footer-bars {
  width: 70%;
}

footer .footer-bars > .footer-bar {
  width: 25%;
  margin-bottom: 25px;
  padding-left: 50px;
}

.nav-title {
  margin-top: 35px;
  margin-bottom: 5px;
  color: #7fb2e3;
}

footer .footer-nav > * {
  margin-top: 10px;
}

/* sezione secondaria del footer */
#footer-bottom {
  padding: 25px 0 30px 0;
}

#footer-bottom .wrapper {
  justify-content: space-between;
  align-items: center;
}

#footer-bottom .btn {
  font-size: 0.8rem;
}
